# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon?
Icon?
._Icon?

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# VS Code
.vscode/
