# =========================
# macOS system files
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*
.Icon?
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# =========================
# Python / virtual environments
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# VS Code settings
# =========================
.vscode/

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp
